body {
  background-color: lightsteelblue;
  font-family: "The Wild Breath of Zelda", Georgia, Serif;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin-top: 20px;

}

th {

  background-color: lightgray;
}

td:hover {
  background-color: lightblue;
}

input, img {
  margin: 0 auto;
  display: block;
}

#bottom {
  float: left;
}

