<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>


  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous"/>

  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/style.css}"/>

</head>
<body>

<div class="container mt-5">
  <div class="form-group">
    <form th:action="@{todo/addd/add}" th:object="${newTodo}" method="post">

      <label for="inputsm"><h1>Name:</h1></label>
      <input type="text" name="title" th:field="*{title}" class="form-control input-sm"
             id="inputsm"/>

      <input type="submit" value="Add" class="btn-primary mt-3"/>


      <input type="checkbox" value="true" th:field="*{isurgent}"
             class="checkbox ml-4"/><label class="ml-1">isurgent</label>


      <input type="checkbox" value="true" th:field="*{isdone}"
             class="checkbox ml-4"/><label class="ml-1">isdone</label>


    </form>
  </div>
</div>

</body>
</html>