<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"/>

  <link rel="stylesheet" th:href="@{/style.css}"/>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
          integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
          crossorigin="anonymous"></script>

</head>
<body>

<div class="container mt-5">
  <div class="form-group">
    <form action="#" th:action="@{/todo/edita/} + ${newAssigneeEdit.id}" th:object="${newAssigneeEdit}" method="post">

      <!--<input type="hidden" th:field="*{id}"/>-->
      <label for="inputsm">Name:</label>
      <input type="text" name="title" th:field="*{name}" class="form-control input-sm"
             id="inputsm"/>

      <label for="inputsm2">Email:</label>
      <input type="text" name="title" th:field="*{email}" class="form-control input-sm"
             id="inputsm2"/>

      <input type="submit" value="Edit" class="btn btn-primary mt-3"/>

    </form>
  </div>
</div>

</body>
</html>