<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>


  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous"/>

  <link rel="stylesheet" th:href="@{/style.css}"/>

  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

</head>
<body>

<div class="container mt-5">

  <h1>todo list</h1>

</div>


<div class="container form-group">

  <input class="form-control" id="myInput" type="text" placeholder="Quick filter.."/>

</div>

<div class="container form-group">
  <form th:action="@{search}" method="get">
    <input class="form-control" type="text" name="mySearch" placeholder="Search in title"/>

    <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
  </form>
</div>

<div class="container">

  <div class="table-responsive">

    <table style="width:100%" class="table table-hover">
      <tr>
        <th>id</th>
        <th>title</th>
        <th>isurgent</th>
        <th>isdone</th>
        <th>date</th>
        <th>delete</th>
        <th>edit</th>
      </tr>
      <tbody id="myTable">
      <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}">Jill</td>

        <td><a th:href="@{personal} +'/'+ ${todo.id}" th:text="${todo.title}">element</a></td>

        <td th:text="${todo.isurgent}">Jill</td>
        <td th:text="${todo.isdone}">Jill</td>
        <td th:text="${todo.date}">Jill</td>
        <td><a class="btn btn-default" th:href="@{/delete/} + ${todo.id}">delete</a></td>
        <td><a class="btn btn-default" th:href="@{/edit/} + ${todo.id}">edit</a></td>

      </tr>
      </tbody>

    </table>
  </div>

</div>

<div class="container">

  <a href="/addd" data-toggle="tooltip" data-placement="right">add
    new todo</a>

</div>

<!--<form action="#" th:action="@{/todo/create}" th:object="${newTodo}" method="post">
  <input type="text" name="title" th:field="*{title}"/>
  <input type="submit" value="Add"/>
  <input type="checkbox" name="vehicle"  value="true" th:field="*{isurgent}"/>isurgent
  <input type="checkbox" name="vehicle2"  value="true" th:field="*{isdone}"/>isdone
</form>-->


</body>
</html>