<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>


  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous"/>

  <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{/style.css}"/>

</head>
<body>
<div class="container mt-5">

  <div class="table-responsive">
    <table style="width:100%" class="table table-hover">

      <tbody>
      <tr>
        <td th:text="${thisTodo.id}">a</td>

        <td th:text="${thisTodo.title}">a</td>

        <td th:text="${thisTodo.isurgent}">a</td>

        <td th:text="${thisTodo.isdone}">a</td>

        <td th:text="${thisTodo.date}">a</td>
      </tr>
      </tbody>

    </table>

  </div>
</div>
<div class="container">

  <div class="table-responsive">

    <a class="btn btn-default" th:href="@{/todo/}">back to main</a>

  </div>
</div>

</body>
</html>