<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
  <title>Thymeleaf Exercise #</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <!--<link rel="stylesheet" href="style.css"/>-->
</head>
<body>

<table>
  <tr>
    <th>PORTRAIT</th>
    <th>NAME</th>
    <th>CLASS</th>
    <th>EXP.</th>
    <th>FIGHT</th>
    <th>FORGET</th>
    <th>LEVEL</th>
    <th>ALIGNMENT</th>

  </tr>
  <tr th:each="acc : ${accountlist}">
    <td><img th:src="@{${acc.portrait}}" width="50"/></td>
    <td th:text="${acc.name}"/>
    <td th:text="${acc.myClass}"/>
    <td th:text="${acc.experience}"/>
    <td>
      <form action="#" th:action="@{/multiple_accounts/} + ${acc.name} + '+'" method="post">
        <input type="submit" value="+"/>
      </form>
    </td>
    <td>
      <form action="#" th:action="@{/multiple_accounts/} + ${acc.name}+'-'" method="post">
        <input type="submit" value="-"/>
      </form>
    </td >
    <td th:text="${#numbers.formatDecimal(acc.experience/1000, 1, 0, 'POINT')}"/>
    <td th:text="${acc.alignment}"/>
  </tr>
</table>

<form id="bottom" class="button" th:action="@{/multiple_accounts/*}" method="post">
  <input type="submit" value="Fight with all"/></form>

</body>
</html>