<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>


</head>
<body>

<h1>Green Fox Fashion Web Store</h1>

<form th:action="@{/shoppingplanner/result}" th:object="${newProductData}" method="post">

  <select th:field="${newProductData.name}">
    <option value="" th:value="${product.itemName}" th:each="product : ${productNames}"
            th:text="${product.itemName}"></option>
  </select>

  <select th:field="${newProductData.size}">
    <option value="" th:value="${product.size}" th:each="product : ${productSizes}"
            th:text="${product.size}"></option>
  </select>

  <input type="text" name="quantity" th:field="*{quantity}"/>




  <input type="submit" value="Add" class="btn-primary mt-3"/>



</form>


<table>
  <tr>
    <th>item name</th>
    <th>manufacturer</th>
    <th>category</th>
    <th>size</th>
    <th>unit price</th>

  </tr>
  <tbody>
  <tr th:each="product : ${products}">

    <td th:text="${product.itemName}"></td>
    <td th:text="${product.manufacturer}"></td>
    <td th:text="${product.category}"></td>
    <td th:text="${product.size}"></td>
    <td th:text="${product.unitPrice}"></td>

  </tr>
  </tbody>

</table>


</body>
</html>